:root {
    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #940af0;
    --color-primary-200: #a43af3;
    --color-primary-300: #b257f5;
    --color-primary-400: #bf71f7;
    --color-primary-500: #cc89f9;
    --color-primary-600: #d8a1fb;
    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #170d34;
    --color-surface-200: #2e2348;
    --color-surface-300: #453b5d;
    --color-surface-400: #5e5472;
    --color-surface-500: #776e88;
    --color-surface-600: #91899f;
    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #221044;
    --color-surface-mixed-200: #392657;
    --color-surface-mixed-300: #503e6b;
    --color-surface-mixed-400: #67577e;
    --color-surface-mixed-500: #7f7193;
    --color-surface-mixed-600: #988ba8;
}

body {
    background: var(--color-surface-100);
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    color: white;
}
main {
    background: var(--color-surface-mixed-100);
    border: 5px solid var(--color-primary-300);
}
img {
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
}
hr {
    height: 3px;
    margin: 35px 0;
    background: var(--color-primary-100);

}
header {
    padding: 1em;
    text-align: center;
    color: white;
    color: white;
    background: var(--color-surface-100);
    border: 5px solid var(--color-primary-300);
    margin-bottom: 20px;
    /*color: var(--headline-color-on-color);
    background-color: var(--accent2-color);*/
}
p {
    /*font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);*/
    padding: 1em;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: var(--color-primary-100);
    /*background-color: #999;*/
}

.colors td {
    width: 20%;
    height: 3em;
}

.primary {
    /*background-color: var(--primary-color);*/
}

.secondary {
    /*background-color: var(--secondary-color);*/
}

.accent1 {
   /* background-color: var(--accent1-color);*/
}

.accent2 {
    /*background-color: var(--accent2-color);*/
}

.accent3 {
   /* background-color: var(--accent3-color);*/
}

p.colored {
   /* background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);*/
}

nav {
    /*background-color: var(--nav-background-color);*/
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav {
    list-style-type: none;
    display: flex;

}

nav a {
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;

}

nav a:link,
nav a:visited {
    /*color: var(--nav-link-color);*/
}

nav a:hover {
    /*color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);*/
}

.sitemap {
    display: grid;
    justify-content: center;

    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
        ". . . top . ."
        ". left left right right ."
        "page2 page2 . . page3 page3";
}

.sitemap>div {

    text-align: center;
}

.sm-home {
    grid-area: home;
    background-color: #ccc;
    line-height: 3em;
}

.sm-page2 {
    grid-area: page2;
    background-color: #ccc;
    line-height: 3em;
}

.sm-page3 {
    grid-area: page3;
    background-color: #ccc;
    line-height: 3em;
}

.top {
    grid-area: top;
    border-left: 1px solid;
}

.left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
}

.right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
}

/* -- BUTTONS colorchef -- */



.button {
    background-color: #3a015c;
    border: none;
    border-radius: 8px;
    box-shadow: 5px -5px 15px hsl(277.5824175824176deg 97.8494623655914% 85% / 0.5), -5px 5px 15px hsl(277.5824175824176deg 97.8494623655914% 55% / 0.5);
    width: 8rem;
    /* adjust as required */
    height: 4rem;
    /* adjust as required */
    color: white;

}

.button:hover {
    background: linear-gradient(225deg, hsl(277.5824175824176deg 97.8494623655914% 65% / 0.5), hsl(277.5824175824176deg 97.8494623655914% 85% / 0.5));
    border: none;
    color: black;
    border-radius: 8px;
    box-shadow: 5px -5px 15px hsl(277.5824175824176deg 97.8494623655914% 85% / 0.5), -5px 5px 15px hsl(277.5824175824176deg 97.8494623655914% 55% / 0.5);

}

.button:disabled {
    background-color: #3a015c;
    border-radius: 8px;
    color: white
}